@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: currentColor;

  @include transition(background-color);

  &--menu {
    width: 32px;
    height: 32px;

    @include mask-contain('/src/images/icons/menu.svg');

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--cross {
    @include mask-contain('/src/images/icons/cross.svg');

    width: 32px;
    height: 32px;

    -webkit-mask-size: 24px;
    mask-size: 24px;

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--compass {
    width: 50px;
    height: 40px;

    @include mask-contain('/src/images/icons/compass.svg');

    @include desktop {
      width: 70px;
      height: 50px;
    }
  }

  &--speaker {
    width: 50px;
    height: 40px;

    @include mask-contain('/src/images/icons/speaker.svg');

    @include desktop {
      width: 70px;
      height: 50px;
    }
  }

  &--wifi {
    width: 50px;
    height: 40px;

    @include mask-contain('/src/images/icons/wifi.svg');

    @include desktop {
      width: 70px;
      height: 50px;
    }
  }

  &--light {
    width: 50px;
    height: 40px;

    @include mask-contain('/src/images/icons/light.svg');

    @include desktop {
      width: 70px;
      height: 50px;
    }
  }

  &--prev {
    width: 48px;
    height: 13px;

    @include mask-contain('/src/images/icons/prev.svg');

    background-color: $gray-300;

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--next {
    width: 48px;
    height: 13px;

    @include mask-contain('/src/images/icons/next.svg');

    background-color: $gray-600;

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--facebook {
    @include mask-contain('/src/images/icons/facebook.svg');

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--twitter {
    @include mask-contain('/src/images/icons/twitter.svg');

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--instagram {
    @include mask-contain('/src/images/icons/instagram.svg');

    @include hover {
      background-color: $cyan-500;
    }
  }

  &--up {
    @include mask-contain('/src/images/icons/up.svg');

    -webkit-mask-size: 24px;
    mask-size: 24px;

    @include tablet {
      width: 50px;
      height: 50px;
    }

    @include desktop {
      width: 24px;
      height: 24px;
    }

    @include hover {
      background-color: $cyan-500;
    }
  }
}
