@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: $sections-gap-mobile;

  @include tablet {
    row-gap: $sections-gap-tablet;
  }

  @include desktop {
    row-gap: $sections-gap-desktop;
  }
}
