// --- Fonts --- //
$font-title: 'Inter', sans-serif;
$font-main: 'Inter', sans-serif;

// --- Colors --- //
// Cyan group
$cyan-500: #0c797a;
$cyan-400: #0db2b3;
$cyan-300: #39bebf;
$cyan-200: #cfeff0;
$cyan-100: #eefafa;

// Gray group
$gray-700: #131313;
$gray-600: #333;
$gray-500: #4f4f4f;
$gray-400: #7c7c7c;
$gray-300: #bdbdbd;
$gray-200: #d0d0d0;
$gray-100: #f7f7f7;

// --- Breakpoints --- //
$bp-tablet: 744px;
$bp-desktop: 1440px;

// --- Layout --- //
$padding-mobile: 30px;
$padding-tablet: 34px;
$padding-desktop: 123px;
$gap-mobile: 20px;
$gap-tablet: 20px;
$gap-desktop: 30px;
$sections-gap-mobile: 110px;
$sections-gap-tablet: 140px;
$sections-gap-desktop: 170px;
$cols-mobile: 4;
$cols-tablet: 8;
$cols-desktop: 12;

// --- UI --- //
$z-under: -1;
$z-base: 0;
$z-above: 1;
$z-dropdown: 50;
$z-header: 100;
$z-modal: 1000;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-round: 50%;
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 12px 24px rgba(0, 0, 0, 0.15);
$transition-speed: 0.3s;
$transition-function: ease-out;

// --- Typography --- //
$type-scale: (
  // Level: (D-size, T-size, M-size, D-lh, T-lh, M-lh, weight, family, transform)
  h1: (64px, 48px, 40px, 78px, 62px, 52px, 700, $font-title, uppercase),
  h2: (56px, 36px, 30px, 70px, 46px, 40px, 700, $font-title, uppercase),
  h3: (34px, 24px, 18px, 42px, 30px, 22px, 700, $font-title, uppercase),
  h4: (22px, 22px, 22px, 28px, 28px, 28px, 700, $font-title, uppercase),
  h5: (16px, 16px, 16px, 22px, 22px, 22px, 700, $font-title, none),
  h6: (14px, 14px, 14px, 20px, 20px, 20px, 700, $font-title, uppercase),
  button: (12px, 12px, 12px, 14px, 14px, 14px, 500, $font-main, uppercase),
  main: (16px, 16px, 16px, 24px, 24px, 24px, 400, $font-main, none),
  secondary: (14px, 14px, 14px, 21px, 21px, 21px, 400, $font-main, none),
  thirdary: (14px, 14px, 14px, 21px, 21px, 21px, 400, $font-main, uppercase),
  quote: (24px, 24px, 14px, 36px, 36px, 20px, 700, $font-main, none)
);
